.imageSize{
    width: 150px;
    height: 150px;
}

.text-danger {
  color: #dc3545 !important;
}

.font-weight-bold {
  font-weight: 700;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-link {
  color: #dc3545;
}

.text-right {
  text-align: right;
}

.price-label {
  margin-bottom: 0.5rem;
}